{% extends 'base.html.twig' %}

{% block title %}Import{% endblock %}

{% block body %}
    <form method="post" novalidate enctype="multipart/form-data">
        {{ form_rest(form) }}
        <button class="btn btn-success" type="submit">Enviar</button>
    </form>
{% endblock %}
