services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\Tests\Behat\:
        resource: '../tests/Behat/*'

    App\Domain\Task\TaskNotificationService:
        public: true
        arguments:
            $sender: '%email_sender%'
            