{% set section = taska.section %}
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link{% if section == 'spaces' %} active{% endif %}" aria-current="page" href="{{ path('app_admin2_space_index') }}">
          <span data-feather="home" class="align-text-bottom"></span>
          Spaces
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if section == 'projects' %} active{% endif %}" href="#">
          <span data-feather="file" class="align-text-bottom"></span>
          Projects
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if section == 'epics' %} active{% endif %}" href="#">
          <span data-feather="file" class="align-text-bottom"></span>
          Epics
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if section == 'tasks' %} active{% endif %}" href="{{ path('app_admin1_task_index') }}">
          <span data-feather="file" class="align-text-bottom"></span>
          Tasks
        </a>
      </li>
    </ul>
  </div>
</nav>
