{% extends 'admin1/base.html.twig' %}

{% block title %}New Space{% endblock %}

{% block content %}
    <h1>Create new Space</h1>

    {{ include('admin2/space/_form.html.twig') }}

    <a href="{{ path('app_admin2_space_index') }}">back to list</a>
{% endblock %}
