<div class="table-responsive">
<table class="table table-striped table-sm">
<thead>
<tr>
    <th scope="col">User</th>
    <th scope="col">Date</th>
    <th scope="col">Worklog</th>
</tr>
</thead>
<tbody>
{% for worklog in worklogs %}
<tr>
    <td>{{ worklog.user }}</td>
    <td>{{ worklog.date | appdate }}</td>
    <td>{{ worklog.worklog }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
